header {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
}
header > img {
  width: 150px;

}
header > nav {
  display: flex;
  gap: 20px
}
.space{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.offers{
  display: flex;
  flex-wrap: wrap;
}
.offers  img{
  width: 235px;
  height: 360px;
  object-fit: cover;
}
